.background-ani {
  animation: slideBackground 15s linear infinite;
  animation-direction: alternate-reverse;
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.bg-blue-gradient,
.text-blue-gradient {
  background-image: linear-gradient(
      45deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(
      90deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(
      67.5deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(
      157.5deg,
      rgb(67, 95, 221) 0%,
      rgb(67, 95, 221) 22%,
      rgb(80, 115, 203) 22%,
      rgb(80, 115, 203) 48%,
      rgb(92, 135, 185) 48%,
      rgb(92, 135, 185) 73%,
      rgb(105, 156, 167) 73%,
      rgb(105, 156, 167) 77%,
      rgb(118, 176, 149) 77%,
      rgb(118, 176, 149) 87%,
      rgb(130, 196, 131) 87%,
      rgb(130, 196, 131) 89%,
      rgb(143, 216, 113) 89%,
      rgb(143, 216, 113) 100%
    ),
    linear-gradient(90deg, rgb(195, 223, 84), rgb(118, 43, 234)) !important;
  background-blend-mode: overlay, overlay, overlay, overlay, normal !important;
}

.text-gradient-util,
.text-blue-gradient {
  background-clip: text !important;
  -webkit-background-clip: text !important;
  color: transparent !important;
}
